.portfolio-section {
  margin: 0 auto;
  padding: 15vh 0;
}
.port-header {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.port-title h1 {
  font-size: 7vh;
}

.port-title span {
  color: #008cff;
  font-weight: bold;
}

.arrow-toggle {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #ebeff3;
}

.arrow-toggle button {
  padding: 10px;
  margin: 0 8px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: bolder;
}

.arrow-toggle button:hover {
  background-color: #008cff;
  color: white;
}

.port-body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5vh;
}

.port-box {
  position: relative;
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cyber-img,
.ps-img,
.web-img,
.pa-img {
  width: 100%;
  height: auto;
  display: block;
}

.port-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0);
  z-index: 1;
}

.port-content {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0;
  padding: 20px;
  z-index: 2;
  cursor: pointer;
}

.port-box:hover::before {
  background: linear-gradient(rgba(32, 37, 45, 0), #1f242c);
}

.port-box:hover .port-content {
  opacity: 1;
  transition: 0.5s;
}

.port-content h3 {
  margin: 10px 0;
}

.port-content h3:hover,
.port-content span:hover {
  color: #4abaff;
}
.port-content p {
  margin: 10px 0;
  opacity: 0.8;
}

@media (max-width: 1100px) and (min-width: 950px) {
  .prod-ana {
    display: none;
  }
}

@media (max-width: 949px) and (min-width: 500px) {
  #port-4,
  #port-2 {
    display: none;
  }
}

@media (max-width: 499px) {
  #port-1,
  #port-3,
  #port-4 {
    display: none;
  }
  .arrow-toggle {
    display: none;
  }
  .port-header h1 {
    font-size: 4vh;
  }
}
