.feedback-section {
  background-image: url(../../Images/cust-exp-img.png);
  background-repeat: no-repeat;
  padding: 15vh 0;
}
.feedback-title {
  text-align: center;
}
.feedback-title span {
  color: #008cff;
  font-weight: bold;
}
.feedback-title h1 {
  font-size: 7vh;
  margin: 10px 0;
  color: #1f242c;
}

.feedback-container {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.box-content {
  background-color: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  position: relative;
  padding: 30px 40px;
}

.box-content::before {
  position: absolute;
  width: 60px;
  height: 35px;
  background: white;
  bottom: -20px;
  left: 100px;
  content: "";
  clip-path: polygon(0 31%, 0 100%, 100% 33%);
}

.box-content p {
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 4vh;
  color: #777;
  text-align: start;
}

.box-user {
  display: flex;
  justify-content: center;
  margin: 5vh 10vh 0 0;
  align-items: center;
}

.user-info p {
  margin-left: 3px;
  opacity: 0.6;
}

.feed-img {
  width: 5vh;
  height: 5vh;
  margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feedback-box-3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .feedback-box-3,
  .feedback-box-2 {
    display: none;
  }
  .feedback-title h1 {
    font-size: 4vh;
  }
  .feedback-container {
    justify-content: center;
  }
}
